# GCP Authentication (Required by google-cloud libraries)
# Point this to your service account JSON key downloaded from GCP
GOOGLE_APPLICATION_CREDENTIALS=your-local-path-to-key.json

# GCP Project details
GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET_NAME=your-gcs-bucket-name
BQ_DATASET_NAME=your-bq-dataset-name
